<div *ngIf="film">

    <h3>{{film.naslov}}</h3>

    <p>{{film.opis}}</p>
    <p>Ustvarjen: {{film.leto_izzida }}</p>
    <p>Povprečna ocena filma: {{film.ocena}}</p>   
    <button (click)="toggleOceneView()" >{{ !oceneView ? "Preglej ocene filma" : "Skrij ocene filma"}}</button>
    <div *ngIf="oceneView">
        <ocena-podrobnosti [film]="film"></ocena-podrobnosti>
    </div>
    <br>
    <button (click)="dodajArtikel()">Dodaj artikel</button>
    <button (click)="nazaj()">Nazaj</button>
</div>
