<h2>Dodaj film</h2>
<!-- <div *ngIf="film">
    <form (ngSubmit)="submitForm()" ngNativeValidate>
        <table>
            <tr>
                <td><label for="naslov">Naslov</label></td>
                <td><input [(ngModel)]="film.naslov" id="naslov" name="naslov" required /></td>
            </tr>
            <tr>
                <td><label for="opis">Opis</label></td>
                <td><input [(ngModel)]="film.opis" id="opis" name="opis" /></td>
            </tr>
            <tr>
                <td><label for="leto_izzida">Leto izzida</label></td>
                <td><input [(ngModel)]="film.leto_izzida" id="leto_izzida" name="leto_izzida" /></td>
            </tr>
            <tr>
                <td><label for="zanr">Žanr</label></td>
                <td><input [(ngModel)]="film.zanr" id="zanr" name="zanr" /></td>
            </tr>
            <tr>
                <td><label for="ocena">ID ocene</label></td>
                <td><input [(ngModel)]="film.ocena" id="ocena" name="ocena" /></td>
            </tr>
            <tr>
                <td><label for="zasedba">Igralec</label></td>
                <td><input [(ngModel)]="film.zasedba" id="zasedba" name="zasedba" /></td>
            </tr>
        </table>

        <br/>
        <button type="button" (click)="nazaj()">Nazaj</button>
        <button type="submit">Dodaj</button>
    </form>
</div> -->
